html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainUI{
    width: 31.5em;
    background-color: rgba(189, 195, 199,.7);
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 1.3%;
    padding-left: 1%;
    padding-right: .5%;
    padding-top: .5%;
    padding-bottom: .5%;
    box-shadow: 1px 1px 1px #000000;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.3);
    font-family: Sans-Serif;
}

#search{
    width: 12em;
}

#querySection{
    padding-top: .5%;
    padding-bottom: .5%;
}

#tools{
    padding-top: .5%;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

.subTitle{
    font-weight: bolder;
    text-decoration: underline;
}

#settings{
    margin-right: 2%;
    border-style: none;
    background-color: rgb(52, 152, 219);
    box-shadow: 1px 1px 1px #000000;
}

#view{
    border-style: none;
    background-color: rgb(52, 152, 219);
    box-shadow: 1px 1px 1px #000000;
}

#EnableHeatMap{
    border-style: none;
}
